.header {
    
    padding: 80px;
    margin: -8px;
    text-align: start;
    color: white;
    font-family: 'Roboto Slab';
    background-image: url(../img/linuxbanner.jpg);
    
  }

  h2 {
    margin: 80px 30px 60px;
    font-family: 'Roboto';
  }

  h3 {
    margin: 60px 30px 60px;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: left;
  }

  p {
    font-family: 'Roboto';
    font-size: 18px;
    margin-left: 10px;
  }

  footer {
    text-align: right;
    font-family: 'Roboto';
    font-size: 12px;
    margin-top: 40px;
  }

  figcaption {
    font-family: 'Roboto Slab';
    font-size: 11px;
  }

  table, th, td {
    border: 1px hidden black;
    font-family: 'Roboto';
    text-align: center; 
    font-size: 16px;
    background: black;
    color: white;
    padding: 10px 10px 10px 10px;
  }

  form > div {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-size: 16px;

}

a:visited {
  color: black;
}

input [type="text"],
input [type="email"],
input [type="password"],
select,
textarea {

    width: 50%;
}

.label-width {
    
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
    
}

  .row {
    display: flex;      
  }
  
  .column {
    flex: 33.33%;     /* amount of flexible length */
    padding: 5px;
  }

.navigation {
    display: flex;
    flex-flow: row wrap;          /* How the flexbox items are placed */
    justify-content: flex-start;   /* aligning the items */
    margin: -8px; 
    background: #000000;
    /*background-image: url(../img/sand.jpg);*/
    /*background-size: contain: ;*/
    /*background-size: cover: ;*/
    /*background-repeat: no-repeat: ;*/
    /*background-position: ;*/
    font-family: 'Roboto';
    font-size: 18px;
    list-style: none;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: #ffffff;
  }
  
  .navigation a:hover {
    background: #4e4e4e;
  }

  
  @media all and (max-width: 800px) {  /* media describes the media typ or device / all for all devices / and a browser window with 800px wide or less */
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a { /* only the last anchor is effected with last-of-type */
      border-bottom: none;
    }
  }